In [1]:
import pandas as pd
import numpy as np

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, ForeignKey, ForeignKeyConstraint

from sqlalchemy import Table, MetaData
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement
from sqlalchemy.sql import text
from sqlalchemy_views import CreateView, DropView

In [2]:
# get table from 2020
url1 = "https://www.bls.gov/lau/lastrk20.htm"
table1 = pd.read_html(url1)

unempl_rate_2020 = table1[0].dropna().reset_index().drop("index", axis=1)
unempl_rate_2020 = unempl_rate_2020.iloc[0:51].copy().set_index('State')
unempl_rate_2020

                     2020rate Rank
State
Nebraska                  4.2    1
South Dakota              4.6    2
Utah                      4.7    3
North Dakota              5.1    4
Iowa                      5.3    5
Idaho                     5.4    6
Maine                     5.4    6
Vermont                   5.6    8
Wyoming                   5.8    9
Alabama                   5.9   10
Kansas                    5.9   10
Montana                   5.9   10
Arkansas                  6.1   13
Missouri                  6.1   13
Oklahoma                  6.1   13
Minnesota                 6.2   16
South Carolina            6.2   16
Virginia                  6.2   16
Wisconsin                 6.3   19
Georgia                   6.5   20
Kentucky                  6.6   21
New Hampshire             6.7   22
Maryland                  6.8   23
Indiana                   7.1   24
Colorado                  7.3   25
North Carolina            7.3   25
Tennessee                 7.5   27
Oregon                    7.6   28
Texas                     7.6   28
Florida                   7.7   30
Alaska                    7.8   31
Delaware                  7.8   31
Arizona                   7.9   33
Connecticut               7.9   33
District of Columbia      8.0   35
Mississippi               8.1   36
Ohio                      8.1   36
Louisiana                 8.3   38
West Virginia             8.3   38
New Mexico                8.4   40
Washington                8.4   40
Massachusetts             8.9   42
Pennsylvania              9.1   43
Rhode Island              9.4   44
Illinois                  9.5   45
New Jersey                9.8   46
Michigan                  9.9   47
New York                 10.0   48
California               10.1   49
Hawaii                   11.6   50
Nevada                   12.8   51

In [3]:
# get table from 2019
url2 = "https://www.bls.gov/lau/lastrk19.htm"
table2 = pd.read_html(url2)

unempl_rate_2019 = table2[0].dropna().reset_index().drop("index", axis=1)
unempl_rate_2019 = unempl_rate_2019.iloc[0:51].copy().set_index('State')
unempl_rate_2019

                     2019rate Rank
State
North Dakota              2.3    1
Vermont                   2.3    1
Hawaii                    2.5    3
Utah                      2.5    3
New Hampshire             2.6    5
Colorado                  2.7    6
Maine                     2.7    6
Virginia                  2.7    6
Idaho                     2.8    9
Iowa                      2.8    9
South Carolina            2.8    9
Alabama                   3.0   12
Massachusetts             3.0   12
Nebraska                  3.0   12
South Dakota              3.0   12
Oklahoma                  3.1   16
Indiana                   3.2   17
Kansas                    3.2   17
Minnesota                 3.2   17
Florida                   3.3   20
Missouri                  3.3   20
Wisconsin                 3.3   20
New Jersey                3.4   23
Tennessee                 3.4   23
Arkansas                  3.5   25
Georgia                   3.5   25
Maryland                  3.5   25
Texas                     3.5   25
Connecticut               3.6   29
Montana                   3.6   29
Rhode Island              3.6   29
Delaware                  3.7   32
Oregon                    3.7   32
Wyoming                   3.7   32
New York                  3.8   35
North Carolina            3.8   35
Nevada                    3.9   37
Illinois                  4.0   38
Kentucky                  4.1   39
Michigan                  4.1   39
Washington                4.1   39
California                4.2   42
Ohio                      4.2   42
Pennsylvania              4.5   44
Louisiana                 4.7   45
Arizona                   4.9   46
West Virginia             4.9   46
New Mexico                5.0   48
Alaska                    5.4   49
District of Columbia      5.4   49
Mississippi               5.5   51

In [4]:
# get table from 2018
url3 = "https://www.bls.gov/lau/lastrk18.htm"
table3 = pd.read_html(url3)

unempl_rate_2018 = table3[0].dropna().reset_index().drop("index", axis=1)
unempl_rate_2018 = unempl_rate_2018.iloc[0:51].copy().set_index('State')
unempl_rate_2018

                     2018rate Rank
State
Hawaii                    2.4    1
North Dakota              2.5    2
Iowa                      2.6    3
New Hampshire             2.6    3
Vermont                   2.6    3
Idaho                     2.8    6
Nebraska                  2.9    7
South Dakota              2.9    7
Utah                      2.9    7
Virginia                  2.9    7
Colorado                  3.0   11
Minnesota                 3.0   11
Wisconsin                 3.0   11
Maine                     3.1   14
Missouri                  3.2   15
Kansas                    3.3   16
Oklahoma                  3.3   16
Indiana                   3.4   18
Massachusetts             3.4   18
South Carolina            3.4   18
Tennessee                 3.5   21
Florida                   3.6   22
Arkansas                  3.7   23
Delaware                  3.7   23
Maryland                  3.8   25
Montana                   3.8   25
Alabama                   3.9   27
Connecticut               3.9   27
Texas                     3.9   27
Georgia                   4.0   30
New Jersey                4.0   30
North Carolina            4.0   30
Oregon                    4.0   30
Wyoming                   4.0   30
New York                  4.1   35
Rhode Island              4.1   35
Kentucky                  4.2   37
Michigan                  4.2   37
California                4.3   39
Illinois                  4.4   40
Nevada                    4.4   40
Pennsylvania              4.4   40
Washington                4.4   40
Ohio                      4.5   44
Arizona                   4.8   45
Louisiana                 4.8   45
New Mexico                4.9   47
Mississippi               5.0   48
West Virginia             5.2   49
District of Columbia      5.7   50
Alaska                    5.9   51

In [5]:
# get table from 2017
url4 = "https://www.bls.gov/lau/lastrk17.htm"
table4 = pd.read_html(url4)

unempl_rate_2017 = table4[0].dropna().reset_index().drop("index", axis=1)
unempl_rate_2017 = unempl_rate_2017.iloc[0:51].copy().set_index('State')
unempl_rate_2017

                     2017rate Rank
State
Hawaii                    2.2    1
Colorado                  2.6    2
North Dakota              2.7    3
New Hampshire             2.8    4
Nebraska                  2.9    5
Vermont                   3.0    6
Iowa                      3.1    7
South Dakota              3.1    7
Utah                      3.1    7
Idaho                     3.2   10
Wisconsin                 3.3   11
Maine                     3.4   12
Minnesota                 3.4   12
Indiana                   3.5   14
Kansas                    3.6   15
Arkansas                  3.7   16
Tennessee                 3.7   16
Virginia                  3.7   16
Massachusetts             3.8   19
Missouri                  3.8   19
Oklahoma                  4.0   21
Maryland                  4.1   22
Montana                   4.1   22
Oregon                    4.1   22
Florida                   4.2   25
South Carolina            4.2   25
Texas                     4.3   27
Wyoming                   4.3   27
Connecticut               4.4   29
Delaware                  4.4   29
New Jersey                4.5   31
North Carolina            4.5   31
Rhode Island              4.5   31
Alabama                   4.6   34
Michigan                  4.6   34
New York                  4.6   34
Washington                4.6   34
California                4.8   38
Georgia                   4.8   38
Kentucky                  4.8   38
Arizona                   4.9   41
Illinois                  5.0   42
Nevada                    5.0   42
Ohio                      5.0   42
Pennsylvania              5.0   42
Louisiana                 5.1   46
Mississippi               5.2   47
West Virginia             5.2   47
District of Columbia      6.1   49
New Mexico                6.1   49
Alaska                    6.5   51

In [6]:
# get table from 2016
url5 = "https://www.bls.gov/lau/lastrk16.htm"
table5 = pd.read_html(url5)

unempl_rate_2016 = table5[0].dropna().reset_index().drop("index", axis=1)
unempl_rate_2016 = unempl_rate_2016.iloc[0:51].copy().set_index('State')
unempl_rate_2016

                     2016rate Rank
State
Hawaii                    2.9    1
New Hampshire             2.9    1
South Dakota              3.0    3
Colorado                  3.1    4
Nebraska                  3.1    4
North Dakota              3.1    4
Vermont                   3.1    4
Utah                      3.3    8
Iowa                      3.6    9
Idaho                     3.7   10
Maine                     3.8   11
Minnesota                 3.9   12
Wisconsin                 3.9   12
Arkansas                  4.0   14
Kansas                    4.0   14
Massachusetts             4.0   14
Virginia                  4.0   14
Maryland                  4.3   18
Montana                   4.3   18
Indiana                   4.4   20
Delaware                  4.5   21
Missouri                  4.5   21
Oklahoma                  4.6   23
Texas                     4.6   23
Oregon                    4.7   25
Tennessee                 4.7   25
Connecticut               4.8   27
Florida                   4.9   28
New Jersey                4.9   28
New York                  4.9   28
South Carolina            4.9   28
Kentucky                  5.0   32
Michigan                  5.0   32
Ohio                      5.0   32
North Carolina            5.1   35
Rhode Island              5.2   36
Washington                5.2   36
Pennsylvania              5.3   38
Georgia                   5.4   39
Wyoming                   5.4   39
Arizona                   5.5   41
California                5.5   41
Nevada                    5.8   43
Alabama                   5.9   44
Illinois                  5.9   44
Mississippi               5.9   44
Louisiana                 6.1   47
West Virginia             6.1   47
District of Columbia      6.2   49
Alaska                    6.6   50
New Mexico                6.7   51

In [7]:
url6 = 'https://www.bls.gov/web/laus/laumstrk.htm'
table6 = pd.read_html(url6)

unempl_rate_2021 = table6[0].dropna().reset_index().drop("index", axis=1)
unempl_rate_2021 = unempl_rate_2021.iloc[0:51].copy().set_index('State').rename(columns={
    'July 2021(p)rate':'July2021rate'
})
unempl_rate_2021

                     July2021rate Rank
State
Nebraska                      2.3    1
Utah                          2.6    2
New Hampshire                 2.9    3
South Dakota                  2.9    3
Idaho                         3.0    5
Vermont                       3.0    5
Alabama                       3.2    7
Oklahoma                      3.5    8
Montana                       3.6    9
Georgia                       3.7   10
Kansas                        3.8   11
Minnesota                     3.9   12
North Dakota                  3.9   12
Wisconsin                     3.9   12
Indiana                       4.1   15
Iowa                          4.1   15
Missouri                      4.2   17
Virginia                      4.2   17
Arkansas                      4.3   19
South Carolina                4.3   19
Kentucky                      4.4   21
North Carolina                4.4   21
Tennessee                     4.7   23
Michigan                      4.8   24
Maine                         4.9   25
Massachusetts                 4.9   25
West Virginia                 5.0   27
Florida                       5.1   28
Washington                    5.1   28
Oregon                        5.2   30
Wyoming                       5.2   30
Ohio                          5.4   32
Delaware                      5.6   33
Rhode Island                  5.8   34
Maryland                      6.0   35
Colorado                      6.1   36
Mississippi                   6.1   36
Texas                         6.2   38
Alaska                        6.6   39
Arizona                       6.6   39
Louisiana                     6.6   39
Pennsylvania                  6.6   39
District of Columbia          6.7   43
Illinois                      7.1   44
Connecticut                   7.3   45
Hawaii                        7.3   45
New Jersey                    7.3   45
California                    7.6   48
New Mexico                    7.6   48
New York                      7.6   48
Nevada                        7.7   51

In [8]:
# get table from 2016
url7 = "https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population"
table7 = pd.read_html(url7)

population = table7[0].iloc[0:52].copy().set_index('State')
population = population.filter(['Population estimate, July 1, 2019[2]', 
                                'Census population, April 1, 2010[3]'])\
                                .rename(columns={'Population estimate, July 1, 2019[2]': 'Population estimate, July 2019',
                                                'Census population, April 1, 2010[3]': 'Census population, April 2010'})

population

,"Population estimate, July 2019","Census population, April 2010"
State,,
California,39512223,37254523
Texas,28995881,25145561
Florida,21477737,18801310
New York,19453561,19378102
Pennsylvania,12801989,12702379
Illinois,12671821,12830632
Ohio,11689100,11536504
Georgia,10617423,9687653
North Carolina,10488084,9535483
Michigan,9986857,9883640
New Jersey,8882190,8791894
Virginia,8535519,8001024
Washington,7614893,6724540
Arizona,7278717,6392017
Massachusetts,6949503,6547629
Tennessee,6833174,6346105
Indiana,6732219,6483802
Missouri,6137428,5988927
Maryland,6045680,5773552
Wisconsin,5822434,5686986
Colorado,5758736,5029196
Minnesota,5639632,5303925
South Carolina,5148714,4625364
Alabama,4903185,4779736
Louisiana,4648794,4533372
Kentucky,4467673,4339367
Oregon,4217737,3831074
Oklahoma,3956971,3751351
Connecticut,3565287,3574097
Utah,3205958,2763885
Puerto Rico,3193694,3725789
Iowa,3155070,3046355
Nevada,3080156,2700551
Arkansas,3017825,2915918
Mississippi,2976149,2967297
Kansas,2913314,2853118
New Mexico,2096829,2059179
Nebraska,1934408,1826341
Idaho,1787065,1567582
West Virginia,1792147,1852994
Hawaii,1415872,1360301
New Hampshire,1359711,1316470
Maine,1344212,1328361
Montana,1068778,989415
Rhode Island,1059361,1052567
Delaware,973764,897934
South Dakota,884659,814180
North Dakota,762062,672591
Alaska,731545,710231
District of Columbia,705749,601723
Vermont,623989,625741
Wyoming,578759,563626

In [9]:
# Create a new sqlite database and connect to it
engine = create_engine('sqlite:///Final_DB/unemployment_data.db', echo=True)
sqlite_connection = engine.connect()

2021-09-14 21:00:13,043 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-09-14 21:00:13,048 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,050 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-09-14 21:00:13,052 INFO sqlalchemy.engine.base.Engine ()

In [10]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Create basic structure of table
class Unemployment2016(Base):
    __tablename__ = 'unemployment2016'
    state = Column(String, primary_key=True)
    _2016rate = Column(Float)
    rank = Column(Integer)
    
# Create basic structure of table 
class Unemployment2017(Base):
    __tablename__ = 'unemployment2017'
    state = Column(String, primary_key=True)
    _2017rate = Column(Float)
    rank = Column(Integer)

class Unemployment2018(Base):
    __tablename__ = 'unemployment2018'
    state = Column(String, primary_key=True)
    _2018rate = Column(Float)
    rank = Column(Integer)

class Unemployment2019(Base):
    __tablename__ = 'unemployment2019'
    state = Column(String, primary_key=True)
    _2019rate = Column(Float)
    rank = Column(Integer)
    
class Unemployment2020(Base):
    __tablename__ = 'unemployment2020'
    state = Column(String, primary_key=True)
    _2020rate = Column(Float)
    rank = Column(Integer)
    
class Unemployment2021(Base):
    __tablename__ = 'unemployment2021'
    state = Column(String, primary_key=True)
    July2021rate = Column(Float)
    rank = Column(Integer)
    
class StatePopulation(Base):
    __tablename__ = 'state_population'
    state = Column(String, primary_key=True)
    July2019Pop = Column(Integer)
    Census2010Pop = Column(Integer)

In [11]:
# Convert df of 2016 unemployment rates to sqlite table

sqlite_table = "unemployment2016"
unempl_rate_2016.to_sql(sqlite_table, sqlite_connection, if_exists='append')

2021-09-14 21:00:13,123 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("unemployment2016")
2021-09-14 21:00:13,125 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,129 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("unemployment2016")
2021-09-14 21:00:13,130 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,135 INFO sqlalchemy.engine.base.Engine
CREATE TABLE unemployment2016 (
	"State" TEXT,
	"2016rate" TEXT,
	"Rank" TEXT
)


2021-09-14 21:00:13,136 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,148 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,151 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_unemployment2016_State" ON unemployment2016 ("State")
2021-09-14 21:00:13,156 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,169 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,175 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-09-14 21:00:13,179 INFO sqlalchemy.engine.base.Engine INSERT INTO unemployment2016 ("State", "2016rate", "Rank") VALUES (?, ?, ?)
2021-09-14 21:00:13,181 INFO sqlalchemy.engine.base.Engine (('Hawaii', '2.9', '1'), ('New Hampshire', '2.9', '1'), ('South Dakota', '3.0', '3'), ('Colorado', '3.1', '4'), ('Nebraska', '3.1', '4'), ('North Dakota', '3.1', '4'), ('Vermont', '3.1', '4'), ('Utah', '3.3', '8')  ... displaying 10 of 51 total bound parameter sets ...  ('Alaska', '6.6', '50'), ('New Mexico', '6.7', '51'))
2021-09-14 21:00:13,186 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
# Convert df of 2017 unemployment rates to sqlite table

sqlite_table = "unemployment2017"
unempl_rate_2017.to_sql(sqlite_table, sqlite_connection, if_exists='append')

2021-09-14 21:00:13,230 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("unemployment2017")
2021-09-14 21:00:13,231 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,233 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("unemployment2017")
2021-09-14 21:00:13,234 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,237 INFO sqlalchemy.engine.base.Engine
CREATE TABLE unemployment2017 (
	"State" TEXT,
	"2017rate" TEXT,
	"Rank" TEXT
)


2021-09-14 21:00:13,239 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,247 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,249 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_unemployment2017_State" ON unemployment2017 ("State")
2021-09-14 21:00:13,251 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,261 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,280 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-09-14 21:00:13,301 INFO sqlalchemy.engine.base.Engine INSERT INTO unemployment2017 ("State", "2017rate", "Rank") VALUES (?, ?, ?)
2021-09-14 21:00:13,303 INFO sqlalchemy.engine.base.Engine (('Hawaii', '2.2', '1'), ('Colorado', '2.6', '2'), ('North Dakota', '2.7', '3'), ('New Hampshire', '2.8', '4'), ('Nebraska', '2.9', '5'), ('Vermont', '3.0', '6'), ('Iowa', '3.1', '7'), ('South Dakota', '3.1', '7')  ... displaying 10 of 51 total bound parameter sets ...  ('New Mexico', '6.1', '49'), ('Alaska', '6.5', '51'))
2021-09-14 21:00:13,308 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
# Convert df of 2018 unemployment rates to sqlite table

sqlite_table = "unemployment2018"
unempl_rate_2018.to_sql(sqlite_table, sqlite_connection, if_exists='append')

2021-09-14 21:00:13,338 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("unemployment2018")
2021-09-14 21:00:13,340 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,343 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("unemployment2018")
2021-09-14 21:00:13,344 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,348 INFO sqlalchemy.engine.base.Engine
CREATE TABLE unemployment2018 (
	"State" TEXT,
	"2018rate" TEXT,
	"Rank" TEXT
)


2021-09-14 21:00:13,349 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,357 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,358 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_unemployment2018_State" ON unemployment2018 ("State")
2021-09-14 21:00:13,360 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,369 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,375 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-09-14 21:00:13,377 INFO sqlalchemy.engine.base.Engine INSERT INTO unemployment2018 ("State", "2018rate", "Rank") VALUES (?, ?, ?)
2021-09-14 21:00:13,379 INFO sqlalchemy.engine.base.Engine (('Hawaii', '2.4', '1'), ('North Dakota', '2.5', '2'), ('Iowa', '2.6', '3'), ('New Hampshire', '2.6', '3'), ('Vermont', '2.6', '3'), ('Idaho', '2.8', '6'), ('Nebraska', '2.9', '7'), ('South Dakota', '2.9', '7')  ... displaying 10 of 51 total bound parameter sets ...  ('District of Columbia', '5.7', '50'), ('Alaska', '5.9', '51'))
2021-09-14 21:00:13,384 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
# Convert df of 2019 unemployment rates to sqlite table

sqlite_table = "unemployment2019"
unempl_rate_2019.to_sql(sqlite_table, sqlite_connection, if_exists='append')

2021-09-14 21:00:13,417 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("unemployment2019")
2021-09-14 21:00:13,419 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,422 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("unemployment2019")
2021-09-14 21:00:13,423 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,427 INFO sqlalchemy.engine.base.Engine
CREATE TABLE unemployment2019 (
	"State" TEXT,
	"2019rate" TEXT,
	"Rank" TEXT
)


2021-09-14 21:00:13,428 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,437 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,439 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_unemployment2019_State" ON unemployment2019 ("State")
2021-09-14 21:00:13,440 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,449 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,453 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-09-14 21:00:13,457 INFO sqlalchemy.engine.base.Engine INSERT INTO unemployment2019 ("State", "2019rate", "Rank") VALUES (?, ?, ?)
2021-09-14 21:00:13,459 INFO sqlalchemy.engine.base.Engine (('North Dakota', '2.3', '1'), ('Vermont', '2.3', '1'), ('Hawaii', '2.5', '3'), ('Utah', '2.5', '3'), ('New Hampshire', '2.6', '5'), ('Colorado', '2.7', '6'), ('Maine', '2.7', '6'), ('Virginia', '2.7', '6')  ... displaying 10 of 51 total bound parameter sets ...  ('District of Columbia', '5.4', '49'), ('Mississippi', '5.5', '51'))
2021-09-14 21:00:13,463 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
# Convert df of 2020 unemployment rates to sqlite table

sqlite_table = "unemployment2020"
unempl_rate_2020.to_sql(sqlite_table, sqlite_connection, if_exists='append')

2021-09-14 21:00:13,751 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("unemployment2020")
2021-09-14 21:00:13,754 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,760 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("unemployment2020")
2021-09-14 21:00:13,762 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,769 INFO sqlalchemy.engine.base.Engine
CREATE TABLE unemployment2020 (
	"State" TEXT,
	"2020rate" TEXT,
	"Rank" TEXT
)


2021-09-14 21:00:13,772 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,787 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,791 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_unemployment2020_State" ON unemployment2020 ("State")
2021-09-14 21:00:13,793 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:13,806 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:13,815 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-09-14 21:00:13,821 INFO sqlalchemy.engine.base.Engine INSERT INTO unemployment2020 ("State", "2020rate", "Rank") VALUES (?, ?, ?)
2021-09-14 21:00:13,824 INFO sqlalchemy.engine.base.Engine (('Nebraska', '4.2', '1'), ('South Dakota', '4.6', '2'), ('Utah', '4.7', '3'), ('North Dakota', '5.1', '4'), ('Iowa', '5.3', '5'), ('Idaho', '5.4', '6'), ('Maine', '5.4', '6'), ('Vermont', '5.6', '8')  ... displaying 10 of 51 total bound parameter sets ...  ('Hawaii', '11.6', '50'), ('Nevada', '12.8', '51'))
2021-09-14 21:00:13,832 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
# Convert df of 2021 unemployment rates to sqlite table

sqlite_table = "unemployment2021"
unempl_rate_2021.to_sql(sqlite_table, sqlite_connection, if_exists='append')

2021-09-14 21:00:15,001 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("unemployment2021")
2021-09-14 21:00:15,005 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:15,011 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("unemployment2021")
2021-09-14 21:00:15,014 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:15,020 INFO sqlalchemy.engine.base.Engine
CREATE TABLE unemployment2021 (
	"State" TEXT,
	"July2021rate" TEXT,
	"Rank" TEXT
)


2021-09-14 21:00:15,023 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:15,037 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:15,040 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_unemployment2021_State" ON unemployment2021 ("State")
2021-09-14 21:00:15,043 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:15,057 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:15,064 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-09-14 21:00:15,069 INFO sqlalchemy.engine.base.Engine INSERT INTO unemployment2021 ("State", "July2021rate", "Rank") VALUES (?, ?, ?)
2021-09-14 21:00:15,072 INFO sqlalchemy.engine.base.Engine (('Nebraska', '2.3', '1'), ('Utah', '2.6', '2'), ('New Hampshire', '2.9', '3'), ('South Dakota', '2.9', '3'), ('Idaho', '3.0', '5'), ('Vermont', '3.0', '5'), ('Alabama', '3.2', '7'), ('Oklahoma', '3.5', '8')  ... displaying 10 of 51 total bound parameter sets ...  ('New York', '7.6', '48'), ('Nevada', '7.7', '51'))
2021-09-14 21:00:15,081 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
# Convert df of state population to sqlite table

sqlite_table = "state_population"
population.to_sql(sqlite_table, sqlite_connection, if_exists='append')

2021-09-14 21:00:15,976 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("state_population")
2021-09-14 21:00:15,981 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:15,984 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("state_population")
2021-09-14 21:00:15,986 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:15,993 INFO sqlalchemy.engine.base.Engine
CREATE TABLE state_population (
	"State" TEXT,
	"Population estimate, July 2019" BIGINT,
	"Census population, April 2010" TEXT
)


2021-09-14 21:00:15,996 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:16,014 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:16,019 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_state_population_State" ON state_population ("State")
2021-09-14 21:00:16,021 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:16,035 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-14 21:00:16,046 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-09-14 21:00:16,051 INFO sqlalchemy.engine.base.Engine INSERT INTO state_population ("State", "Population estimate, July 2019", "Census population, April 2010") VALUES (?, ?, ?)
2021-09-14 21:00:16,054 INFO sqlalchemy.engine.base.Engine (('California', 39512223, '37254523'), ('Texas', 28995881, '25145561'), ('Florida', 21477737, '18801310'), ('New York', 19453561, '19378102'), ('Pennsylvania', 12801989, '12702379'), ('Illinois', 12671821, '12830632'), ('Ohio', 11689100, '11536504'), ('Georgia', 10617423, '9687653')  ... displaying 10 of 52 total bound parameter sets ...  ('Vermont', 623989, '625741'), ('Wyoming', 578759, '563626'))
2021-09-14 21:00:16,066 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
# Test view

test = pd.read_sql('SELECT * FROM state_population', engine)
test

2021-09-14 21:00:18,951 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM state_population")
2021-09-14 21:00:18,953 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:18,957 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM state_population")
2021-09-14 21:00:18,959 INFO sqlalchemy.engine.base.Engine ()
2021-09-14 21:00:18,967 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM state_population
2021-09-14 21:00:18,970 INFO sqlalchemy.engine.base.OptionEngine ()

,State,"Population estimate, July 2019","Census population, April 2010"
0,California,39512223,37254523
1,Texas,28995881,25145561
2,Florida,21477737,18801310
3,New York,19453561,19378102
4,Pennsylvania,12801989,12702379
5,Illinois,12671821,12830632
6,Ohio,11689100,11536504
7,Georgia,10617423,9687653
8,North Carolina,10488084,9535483
9,Michigan,9986857,9883640
10,New Jersey,8882190,8791894
11,Virginia,8535519,8001024
12,Washington,7614893,6724540
13,Arizona,7278717,6392017
14,Massachusetts,6949503,6547629
15,Tennessee,6833174,6346105
16,Indiana,6732219,6483802
17,Missouri,6137428,5988927
18,Maryland,6045680,5773552
19,Wisconsin,5822434,5686986
20,Colorado,5758736,5029196
21,Minnesota,5639632,5303925
22,South Carolina,5148714,4625364
23,Alabama,4903185,4779736
24,Louisiana,4648794,4533372
25,Kentucky,4467673,4339367
26,Oregon,4217737,3831074
27,Oklahoma,3956971,3751351
28,Connecticut,3565287,3574097
29,Utah,3205958,2763885
30,Puerto Rico,3193694,3725789
31,Iowa,3155070,3046355
32,Nevada,3080156,2700551
33,Arkansas,3017825,2915918
34,Mississippi,2976149,2967297
35,Kansas,2913314,2853118
36,New Mexico,2096829,2059179
37,Nebraska,1934408,1826341
38,Idaho,1787065,1567582
39,West Virginia,1792147,1852994
40,Hawaii,1415872,1360301
41,New Hampshire,1359711,1316470
42,Maine,1344212,1328361
43,Montana,1068778,989415
44,Rhode Island,1059361,1052567
45,Delaware,973764,897934
46,South Dakota,884659,814180
47,North Dakota,762062,672591
48,Alaska,731545,710231
49,District of Columbia,705749,601723
50,Vermont,623989,625741
51,Wyoming,578759,563626

In [19]:
sqlite_connection.close()